body{
    display: flex;
    background-color: violet;
    justify-content: center;
}
.box{
    display: flex;
    width: 600px;
    height: 200px;
    background-color: lightblue;
    animation: mymove 5s infinite;   
    align-items: start;
    padding: 10px;
}