body{
    display: flex;
    background-color: violet;
    justify-content: center;
}
.box{
    margin-top: 200px;
    width: 600px;
    height: fit-content;
    background-color: lightblue;
    align-items: start;
    padding: 10px;
}
h1{
    width: 100%;
    text-align: center;
}